.about {
  .skill {
    display: grid;
    grid-template-areas:
      "icon"
      "title"
      "paragraph";
    margin: 0 auto;
    max-width: 42rem;
    padding: 20vh $spacer 30vh;

    [class^="display-"] {
      grid-area: title;
    }
    .-graphic {
      align-self: center;
      grid-area: icon;
      margin: ($spacer * 2) auto;
      height: 64px;
      width: 122px;

      @include breakpoint("medium") {
        margin-right: $spacer;
      }

      @include breakpoint("large") {
        margin-right: ($spacer*2);
      }
    }
    .paragraph {
      grid-area: paragraph;
    }
    @include breakpoint("medium") {
      grid-template-areas:
        "icon title"
        "icon paragraph";
    }

    &:nth-child(even) {
      @include breakpoint("medium") {
        grid-template-areas:
          "title icon"
          "paragraph icon";
        text-align: right;

        [class^="display-"]::after {
          margin-left: auto;
        }
        .-graphic {
          margin-left: $spacer;
          @include breakpoint("large") {
            margin-left: ($spacer*2);
          }
        }
      }
    }

    &__list {
      max-width: 80rem;
      margin: 0 auto;
    }
  }
}
