.about {
  
  .skill {
    display: grid;
    grid-template-areas:
      "icon"
      "title"
      "paragraph";
    margin: 0 auto;
    max-width: 42rem;
    padding: 20vh $spacer;

    [class^="display-"] {
      grid-area: title;
    }
    .-graphic {
      align-self: center;
      grid-area: icon;
      margin: ($spacer * 2) auto;
      height: 64px;
      width: 122px;

      @include breakpoint("medium") {
        margin: 0 $spacer 0 0;
      }

      @include breakpoint("large") {
        margin: 0 $spacer * 2 0 0;
      }
    }
    .paragraph {
      grid-area: paragraph;
    }
    @include breakpoint("medium") {
      grid-template-areas:
        "icon title"
        "icon paragraph";
    }

    &:nth-child(even) {
      @include breakpoint("medium") {
        grid-template-areas:
          "title icon"
          "paragraph icon";
        text-align: right;

        [class^="display-"]::after {
          margin-left: auto;
        }
        .-graphic {
          margin: 0 0 0 $spacer;
          @include breakpoint("large") {
            margin: 0 0 0 $spacer * 2;
          }
        }
      }
    }

    &__list {
      max-width: 80rem;
      margin: 0 auto;
    }
  }

  .panel {
    background-attachment: fixed;
    background-image: linear-gradient(125deg, shade($primary-lt, 60), $primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: grid;
    margin: $spacer*.625;
    min-height: 100vh;
    padding: $spacer * 2;
    position: relative;
    align-content: center;
    justify-content: center;
    transform: skewY(-3.5deg);

    &__content {
      transform: skewY(3.5deg);

      .btn {
        margin-top: $spacer;
      }
    }
  }

}
