.home {
  position: relative;

  // .hero {
  //   &::after {
  //     background-image: $linear-grad, url(../src/assets/img/bg-hero-xs.jpg);
  //     background-image: $linear-grad;


  //     @include breakpoint('small') {
  //       background-image: $linear-grad, url(../src/assets/img/bg-hero-sm.jpg);
  //     }

  //     @include breakpoint('medium') {
  //       background-image: $linear-grad, url(../src/assets/img/bg-hero-md.jpg);
  //     }

  //     @include breakpoint('large') {
  //       background-image: $linear-grad, url(../src/assets/img/bg-hero-lg.jpg);
  //     }

  //     @include breakpoint('xlarge') {
  //       background-image: $linear-grad, url(../src/assets/img/bg-home-xl.jpg);
  //     }
  //   }
  // }

  .panel {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: grid;
    min-height: 100vh;
    padding: $spacer * 2;
    position: relative;
    align-content: center;
    justify-content: center;
    transform: skewY(-3.5deg);

    &__container {
      padding: 0;
      position: relative;
    }

    &__content {
      transform: skewY(3.5deg);

      .btn {
        margin-top: $spacer;
      }
    }

    &.-arrow {
      background: $linear-grad-trans,
        url(../src/assets/img/bg-arrow-sm.jpg) no-repeat center fixed;
      // background-size: auto 100%;

      @include breakpoint('medium') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-arrow-md.jpg);
        // background-size: 100% auto;
      }

      @include breakpoint('large') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-arrow-lg.jpg);
      }

      @include breakpoint('xlarge') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-arrow-xl.jpg);
      }
    }

    &.-stuntpuppy {
      background: $linear-grad-trans,
        url(../src/assets/img/bg-stuntpuppy-sm.jpg) no-repeat center fixed;
      // background-size: auto 100%;

      @include breakpoint('medium') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-stuntpuppy-md.jpg);
        // background-size: 100% auto;
      }

      @include breakpoint('large') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-stuntpuppy-lg.jpg);
      }

      @include breakpoint('xlarge') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-stuntpuppy-xl.jpg);
      }
    }

    &.-lacek {
      background: $linear-grad-trans,
        url(../src/assets/img/bg-lacek-sm.jpg) no-repeat center fixed;
      // background-size: auto 100%;

      @include breakpoint('medium') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-lacek-md.jpg);
        // background-size: 100% auto;
      }

      @include breakpoint('large') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-lacek-lg.jpg);
      }

      @include breakpoint('xlarge') {
        background-image: $linear-grad-trans,
          url(../src/assets/img/bg-lacek-xl.jpg);
      }
    }
  }
}
