.resume {
  
  .hero {
    grid-template-columns: minmax($spacer, 1fr) minmax(50%, 75rem) minmax($spacer, 1fr);
    grid-template-rows: $spacer * 7.5 auto auto;
    min-height: auto;
    @include breakpoint('medium') {
      grid-template-columns: minmax($spacer*2, 1fr) minmax(50%, 75rem) minmax($spacer*2, 1fr);
    }
    &::before,
    &::after {
      background: none;
    }
    .btn {
      margin: $spacer * 2 auto 0;

      @include breakpoint("medium") {
        float: right;
        margin: -($spacer*2) ($spacer*0.5) 0 0;
      }
    }
  }

  .card {
    pointer-events: none;
    &__container {
      margin-bottom: 0;
      @include breakpoint("medium") {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &__content {
      align-self: start;
    }
  }

  .panel {
    display: grid;
    grid-template-columns: 1fr minmax(80%, 48rem) 1fr;
    grid-template-areas:
    ". panel__content .";

    &:nth-child(odd) {
      background: rgba($white, 0.025);
    }

    &__content {
      grid-area: panel__content;
      padding: ($spacer*4) $spacer;

      ul {
        list-style: none;
        padding: 0;
        li {
          padding: $spacer * 1.5 0 $spacer * 3;
        }
      }
      small {
        color: $bronze;
        display: block;
        font-style: italic;
      }
    }
    h4 span {
      color: $bronze;
      display: inline-block;
      font-size: 75%;
      font-style: italic;
      font-weight: 100;

      @include breakpoint("medium") {
        display: inline-block;
        padding-left: $spacer * 2;
      }
    }
  }
}
