// HOME
.home {
  .hero {
    &::after {
      background-image: url(../src/assets/img/bg-hero-xs.jpg);

      @include breakpoint('small') {
        background-image: url(../src/assets/img/bg-hero-sm.jpg);
      }

      @include breakpoint('medium') {
        background-image: url(../src/assets/img/bg-hero-md.jpg);
      }

      @include breakpoint('large') {
        background-image: url(../src/assets/img/bg-hero-lg.jpg);
      }

      @include breakpoint('xlarge') {
        background-image: url(../src/assets/img/bg-hero-xl.jpg);
      }
    }

    &__content {
      em {
        color: $gold;
        font-weight: bolder;
      }
    }
  }

  .card {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-areas:
      'icon'
      'title'
      'paragraph';
    padding: 0 $spacer $spacer*4;

    @include breakpoint('small') {
      grid-column-start: 2;
      grid-column-end: 6;
    }

    @include breakpoint('medium') {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-template-areas:
        'icon title'
        'icon paragraph';
    }

    .-graphic {
      align-self: center;
      grid-area: icon;
      margin: 0 auto $spacer*2;
      height: 64px;
      width: 122px;

      @include breakpoint('medium') {
        margin: 0 $spacer 0 0;
      }

      @include breakpoint('large') {
        margin: 0 $spacer*2 0 0;
      }
    }

    .display-1 {
      grid-area: title;
    }

    .paragraph {
      grid-area: paragraph;
    }

    &.-ux {

      @include breakpoint('large') {
        grid-column-start: 3;
        grid-column-end: 10;
      }
    }

    &.-ui {

      @include breakpoint('medium') {
        grid-template-areas:
          'title icon'
          'paragraph icon';
        text-align: right;

        .display-1::after {
          margin-left: auto;
        }

        .-graphic {
          margin: 0 0 0 $spacer;

          @include breakpoint('large') {
            margin: 0 0 0 $spacer*2;
          }
        }
      }

      @include breakpoint('large') {
        grid-column-start: 3;
        grid-column-end: 10;
      }
    }

    &.-vis {

      @include breakpoint('large') {
        grid-column-start: 3;
        grid-column-end: 10;
      }
    }
  }

  .panel {
    display: grid;
    min-height: 100vh;
    padding: $spacer*2;
    position: relative;
    align-content: center;
    justify-content: center;
    transform: skewY(-3.5deg);
    // scroll-snap-align: start;

    &__container {
      // height: 100vh;
      padding: 0;
      position: relative;
      // scroll-snap-type: y proximity;
      // overflow-y: scroll;
      // scroll-snap-align: start;
    }

    &__content {
      transform: skewY(3.5deg);

      .btn {
        margin-top: $spacer;
      }
    }

    &.-arrow {
      background: url(../src/assets/img/bg-arrow-sm.jpg) no-repeat center fixed;
      background-size: auto 100%;

      @include breakpoint('medium') {
        background-image: url(../src/assets/img/bg-arrow-md.jpg);
      }

      @include breakpoint('large') {
        background-image: url(../src/assets/img/bg-arrow-lg.jpg);
        background-size: 100% auto;
      }

      @include breakpoint('xlarge') {
        background-image: url(../src/assets/img/bg-arrow-xl.jpg);
      }
    }

    &.-stuntpuppy {
      background: url(../src/assets/img/bg-stuntpuppy-sm.jpg) no-repeat center fixed;
      background-size: auto 100%;

      @include breakpoint('medium') {
        background-image: url(../src/assets/img/bg-stuntpuppy-md.jpg);
      }

      @include breakpoint('large') {
        background-image: url(../src/assets/img/bg-stuntpuppy-lg.jpg);
        background-size: 100% auto;
      }

      @include breakpoint('xlarge') {
        background-image: url(../src/assets/img/bg-stuntpuppy-xl.jpg);
      }
    }

    &.-lacek {
      background: url(../src/assets/img/bg-lacek-sm.jpg) no-repeat center fixed;
      background-size: auto 100%;

      @include breakpoint('medium') {
        background-image: url(../src/assets/img/bg-lacek-md.jpg);
      }

      @include breakpoint('large') {
        background-image: url(../src/assets/img/bg-lacek-lg.jpg);
        background-size: 100% auto;
      }

      @include breakpoint('xlarge') {
        background-image: url(../src/assets/img/bg-lacek-xl.jpg);
      }
    }
  }
}

#expertise {
  margin: $spacer*5 0;
}

#projects {
  // margin-top: -$spacer*5;
}

// CASE STUDY
.case-study {}

// 404
.four-o-four {
  .hero {
    &::after {
      // background-image: url(../src/assets/img/bg-404-sm.jpg);

      @include breakpoint('medium') {
        // background-image: url(../src/assets/img/bg-404-alt.jpg);
      }

      @include breakpoint('xlarge') {
        // background-image: url(../src/assets/img/bg-404-lg.jpg);
      }
    }

    &__content {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-row-gap: $spacer * 1.5;
      margin-top: -4rem;

      @include breakpoint('medium') {
        grid-template-columns: 1fr auto;
        grid-column-gap: $spacer * 2;
        margin-top: 0;
      }
    }

    #icon-warning {
      height: $spacer * 3;
      width: $spacer * 3;
      margin: 0 auto;
      transform-style: preserve-3d;
      animation: rot 3s ease-in-out infinite;
      align-self: center;

      @include breakpoint('medium') {
        height: $spacer * 6;
        width: $spacer * 6;
      }
    }
  }
}

@keyframes rot {
  50% {
    transform: rotateY(0.5turn);
  }

  100% {
    transform: rotateY(1turn);
  }
}
