<div class="about">
  <section class="hero" id="hero">
    <div class="hero__content">
      <h2>Hello again!</h2>
      <p>I'm Travis, but you probably already know that &hellip; I'm a Denver based designer/developer, currently
        leading a team of very talented UX designers for Arrow Electronics. Previously, I wrote code for ideapark and
        The Lacek Group, to name a few. NEEDS SUMMARY</p>
      <a class="btn -ghost" title="Get to know me">
        Get to know me<svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </section>

  <section></section>
</div>
