<div class="about">
  <section class="hero" id="hero">
    <div class="hero__content">
      <h2>Hello again!</h2>
      <p>
        I'm Travis, a Denver based designer/developer, currently leading a team
        of very talented designers for
        <a
          href="https://www.arrow.com"
          target="_blank"
          title="Arrow Electronics, Inc."
          >Arrow Electronics</a
        >. Previously, I wrote code for
        <a href="https://ideapark.com/" target="_blank" title="ideapark"
          >ideapark</a
        >
        and
        <a href="https://www.lacek.com/" target="_blank" title="The Lacek Group"
          >The Lacek Group</a
        >. In the past I've worked on projects for brands like
        <em>Target</em> and <em>General Mills</em>. I've also taken my talents
        to agencies like
        <a href="http://www.mccannmpls.com/" target="_blank" title="McCann"
          >McCann</a
        >,
        <a href="https://morsekode.com/" target="_blank" title="Morsekode"
          >Morsekode</a
        >
        and
        <a
          href="http://www.playworkgroup.com/"
          target="_blank"
          title="playworkgroup"
          >playworkgroup</a
        >.
      </p>
      <a
        [scrollTo]="'#uxexpertise'"
        [scrollDuration]="500"
        class="btn -ghost"
        title="A very particular set of skills"
      >
        Get to know me
        <svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="skill__list" id="skills">
    <div
      class="skill"
      id="uxexpertise"
      data-aos="flip-right"
      data-aos-duration="250"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <svg class="icon -graphic">
        <use xlink:href="assets/symbol-defs.svg#icon-ux-design"></use>
      </svg>
      <h4 class="display-1">User Experience Design</h4>
      <div class="paragraph">
        <p>
          I utilize user research, usability principles and user-centric
          interaction design to craft meaningful digital experiences.
        </p>
        <a href="" class="btn -white" title="View Projects">View Projects</a>
        <a
          class="btn -ghost -borderless"
          [scrollTo]="'#uiexpertise'"
          [scrollDuration]="500"
          title="Front End &amp; UI Development"
          >Continue
          <svg class="icon -sm">
            <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
          </svg>
        </a>
      </div>
    </div>

    <div
      class="skill"
      id="uiexpertise"
      data-aos="flip-left"
      data-aos-duration="250"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <svg class="icon -graphic">
        <use xlink:href="assets/symbol-defs.svg#icon-ui-dev"></use>
      </svg>
      <h4 class="display-1">Front End Development</h4>
      <div class="paragraph">
        <p>
          I specialize in building scalable, modular user interfaces that
          display consistently and function seamlessly for all devices.
        </p>
        <a href="" class="btn -white" title="View Projects">View Projects</a>
        <a
          class="btn -ghost -borderless"
          [scrollTo]="'#visexpertise'"
          [scrollDuration]="500"
          title="Visual &amp; Interaction Design"
          >Continue
          <svg class="icon -sm">
            <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
          </svg>
        </a>
      </div>
    </div>

    <div
      class="skill"
      id="visexpertise"
      data-aos="flip-right"
      data-aos-duration="250"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <svg class="icon -graphic">
        <use xlink:href="assets/symbol-defs.svg#icon-vis-design"></use>
      </svg>
      <h4 class="display-1">Visual &amp; Interaction Design</h4>
      <div class="paragraph">
        <p>
          My work is built on a solid foundation of visual and interaction
          design, ensuring it makes a lasting impression.
        </p>
        <a href="" class="btn -white" title="View Projects">View Projects</a>
        <a
          class="btn -ghost -borderless"
          [scrollTo]="'#process'"
          [scrollDuration]="500"
          title="You've come this far, why not?"
          >Continue
          <svg class="icon -sm">
            <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section class="testimonials panel" id="testimonials">
    <div class="panel__content">
      <h3>Testimonials</h3>
    </div>
  </section>

  <section class="principles" id="principles">
    <div class="container">
      <h3>Principles</h3>
      <div class="card__container">
        <div class="card">
          Principle One
        </div>
        <div class="card">
          Principle Two
        </div>
        <div class="card">
          Principle Three
        </div>
        <div class="card">
          Principle Four
        </div>
        <div class="card">
          Principle Five
        </div>
        <div class="card">
          Principle Six
        </div>
      </div>
    </div>
  </section>

  <section class="process" id="process">
    <div class="container">
      <h3>Process</h3>
    </div>
  </section>

  <section class="outro">
    <div class="container">
      <h3>Outro</h3>
    </div>
  </section>
</div>
