<div class="about">

  <section class="hero" id="hero">
    <div class="hero__content">
      <h2>Hello again!</h2>
      <p>I'm Travis, but you probably already know that &hellip; I'm a Denver based designer and developer, currently
        leading a team of very talented UX designers for <a href="https://www.arrow.com" target="_blank"
          title="Arrow Electronics, Inc.">Arrow Electronics</a>. Previously, I wrote code for <a
          href="https://ideapark.com/" target="_blank" title="ideapark">ideapark</a> and <a
          href="https://www.lacek.com/" target="_blank" title="The Lacek Group">The Lacek Group</a>. I've
        also worked on projects for brands like, Target and General Mills.</p>
      <a class="btn -ghost" title="Read more about me">
        Get to know me<svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="principles">
    <div class="container">
      <h3>Principles</h3>
      <div class="card__container">
        <div class="card">
          Principle One
        </div>
        <div class="card">
          Principle Two
        </div>
        <div class="card">
          Principle Three
        </div>
        <div class="card">
          Principle Four
        </div>
        <div class="card">
          Principle Five
        </div>
      </div>
    </div>
  </section>

  <section class="process">
    <div class="container">
      <h3>Process</h3>
    </div>
  </section>

  <section class="testimonials">
    <div class="container">
      <h3>Testimonials</h3>
    </div>
  </section>

  <section class="outro">
    <div class="container">
      <h3>Outro</h3>
    </div>
  </section>

</div>