<div class="hero">
  <div class="banner">
    <h2 class="h3">Hello, I'm Travis</h2>
    <p>I currently oversee a team of very talented UX designers for Arrow Electronics. I’m also in the midst of
      building a new site &hellip; obviously, right? Drop me a line if you’d like to see some of my work.<br>You can
      reach me at <a href="https://www.linkedin.com/in/travhall/">LinkedIn</a> or <a href="mailto:hello@iamtravishall.com">hello@iamtravishall.com</a>.</p>
  </div>
</div>

<section>
  <h3 class="display-4">Typography</h3>
  <p>This an example paragraph that demonstrates some basic text elements. The following is <b>bold</b> and this is
    <strong>strong</strong>. This is <i>italic</i>, whereas this is <em>emphasized</em>. This line features <sup>superscript</sup>
    text and <sub>subscript</sub> text. This is <u>underlined text</u>, this is <del>strikethrough</del>, <a href="#">this
      is an achor</a> and this a <a href="#" class="link">link class</a>. All of these items are inline elements, which
    can be used in headings,
    paragraphs and just about anywhere really.</p>
  <blockquote>Super inspirational text goes in blockquotes</blockquote>
  <hr>
  <h1 class="display-1">Display 1</h1>
  <h2 class="display-2">Display 2</h2>
  <h3 class="display-3">Display 3</h3>
  <h4 class="display-4">Display 4</h4>
  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>
  <hr>
  <p class="lead">This is a lead paragraph. Lead paragraphs are meant to introduce bodies of text. It makes use of
    the .lead class.</p>
  <p>Sample paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
    condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat
    porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
    risus.
    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum
    faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis
    consectetur
    purus sit amet fermentum.</p>
  <h4>Blockquote</h4>
  <blockquote>Blockquote : Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
    volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet
    nullam adipiscing eu felis.</blockquote>
</section>

<section>
  <h3 class="display-4">Buttons</h3>

  <hr>

  <button>Button</button>
  <input type="button" value="Input">
  <a href="javascript:void();" class="btn">Anchor</a>

  <hr>

  <a href="javascript:void();" class="btn">Anchor</a>
  <a href="javascript:void();" class="btn -dk">Anchor</a>
  <a href="javascript:void();" class="btn -lt">Anchor</a>
  <a href="javascript:void();" class="btn -gold">Anchor</a>
  <a href="javascript:void();" class="btn -goldenrod">Anchor</a>
  <a href="javascript:void();" class="btn -bronze">Anchor</a>
  <a href="javascript:void();" class="btn -cream">Anchor</a>

  <a href="javascript:void();" class="btn -success">Anchor</a>
  <a href="javascript:void();" class="btn -caution">Anchor</a>
  <a href="javascript:void();" class="btn -danger">Anchor</a>
  <a href="javascript:void();" class="btn -ghost">Anchor</a>

  <hr>

  <button class="btn">Button</button>
  <button class="btn -dk">Button</button>
  <button class="btn -lt">Button</button>
  <button class="btn -gold">Button</button>
  <button class="btn -goldenrod">Button</button>
  <button class="btn -bronze">Button</button>
  <button class="btn -cream">Button</button>

  <button class="btn -success">Button</button>
  <button class="btn -caution">Button</button>
  <button class="btn -danger">Button</button>
  <button class="btn -ghost">Button</button>

  <hr>

  <button class="btn -block">Block Button</button>
  <a href="javascript:void();" class="btn -block">Block Button</a>
  <a href="javascript:void();" class="btn -ghost -block">Ghost Button</a>
  <button class="btn -ghost -block">
    Ghost Button
    <svg class="icon -sm">
      <use xlink:href="assets/symbol-defs.svg#icon-angular"></use>
    </svg>
  </button>

  <hr>

  <a href="javascript:void();" class="btn -lg">
    Large
    <svg class="icon -xs">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
    </svg>
  </a>
  <a href="javascript:void();" class="btn">
    Default
    <svg class="icon -xs">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
    </svg>
  </a>
  <a href="javascript:void();" class="btn -sm">
    Small
    <svg class="icon -xs">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
    </svg>
  </a>

  <hr>

  <button class="btn -lg">
    Large
    <svg class="icon -xs">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
    </svg>
  </button>
  <button class="btn">
    Default
    <svg class="icon -xs">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
    </svg>
  </button>
  <button class="btn -sm">
    Small
    <svg class="icon -xs">
      <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
    </svg>
  </button>

  <h3 class="display-4">Tags</h3>
  <span class="tag">Span Tag</span> <a href="#" class="tag">Anchor Tag</a>
</section>

<section>
  <h3 class="display-4">Icons</h3>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-ab-test"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-ae"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-ai"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-ar"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-cc"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-dw"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-id"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-adobe-ps"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-angular"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-apple"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-down-left"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-down-right"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-left"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-right"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-up"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-up-right"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-up-left"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-arrow-up-right"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-barcode"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-behance"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-behance2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-bootstrap"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-cart"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-chevron-down"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-chevron-left"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-chevron-right"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-chevron-up"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-clipboard"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-codepen"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-css3"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-development"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-display"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-download"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-dribbble"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-ecommerce"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-embed"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-embed1"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-envelope"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-facebook"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-facebook2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-file-pdf"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-fire"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-fitbit"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-flow"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-git"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-github"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-gmail"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-google"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-googleplus"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-googleplus2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-html5"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-image"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-info"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-instagram"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-invision"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-javascript"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-jquery"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-lab"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-laptop"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-linkedin"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-linkedin2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-magic-wand"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-mail"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-medium"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-mobile"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-mobile2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-notification"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-npm"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-price-tag"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-price-tags"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-profile"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-question"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-react"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-sass"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-sass2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-shopify"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-slack"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-soundcloud"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-spinner"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-spotify"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-stackoverflow"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-stats-bars"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-stats-bars2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-stats-dots"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-sublimetext"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-tablet"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-terminal"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-upload"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-users"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-users2"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-vs-code"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-warning"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-wireframe"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-wordpress"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="assets/symbol-defs.svg#icon-youtube"></use>
  </svg>

</section>

<section>
  <h3 class="display-4">Lists</h3>

  <h4>Unordered</h4>
  <ul>
    <li>Dolor pulvinar etiam.</li>
    <li>Sagittis adipiscing.</li>
    <li>Felis enim feugiat.</li>
    <li>Etiam vel felis lorem.</li>
  </ul>

  <h4>Ordered</h4>
  <ol>
    <li>Dolor pulvinar etiam.</li>
    <li>Etiam vel felis viverra.</li>
    <li>Felis enim feugiat.</li>
    <li>Dolor pulvinar etiam.</li>
    <li>Etiam vel felis lorem.</li>
    <li>Felis enim et feugiat.</li>
  </ol>

</section>

<!-- <section>
  <h3 class="display-4">Tables</h3>
  <h4>Default</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Item One</td>
        <td>Ante turpis integer aliquet porttitor.</td>
        <td>29.99</td>
      </tr>
      <tr>
        <td>Item Two</td>
        <td>Vis ac commodo adipiscing arcu aliquet.</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>Item Three</td>
        <td> Morbi faucibus arcu accumsan lorem.</td>
        <td>29.99</td>
      </tr>
      <tr>
        <td>Item Four</td>
        <td>Vitae integer tempus condimentum.</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>Item Five</td>
        <td>Ante turpis integer aliquet porttitor.</td>
        <td>29.99</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>100.00</td>
      </tr>
    </tfoot>
  </table>

  <h4>Alternate</h4>
  <table class="alt">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Item One</td>
        <td>Ante turpis integer aliquet porttitor.</td>
        <td>29.99</td>
      </tr>
      <tr>
        <td>Item Two</td>
        <td>Vis ac commodo adipiscing arcu aliquet.</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>Item Three</td>
        <td> Morbi faucibus arcu accumsan lorem.</td>
        <td>29.99</td>
      </tr>
      <tr>
        <td>Item Four</td>
        <td>Vitae integer tempus condimentum.</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>Item Five</td>
        <td>Ante turpis integer aliquet porttitor.</td>
        <td>29.99</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>100.00</td>
      </tr>
    </tfoot>
  </table>
</section> -->

<!-- <section>
  <h3 class="display-4">Form</h3>

  <form method="post" action="#">
    <div class="fields">
      <div class="field half">
        <label for="demo-name">Name</label>
        <input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
      </div>
      <div class="field half">
        <label for="demo-email">Email</label>
        <input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
      </div>
      <div class="field">
        <label for="demo-category">Category</label>
        <select name="demo-category" id="demo-category">
          <option value="">-</option>
          <option value="1">Manufacturing</option>
          <option value="1">Shipping</option>
          <option value="1">Administration</option>
          <option value="1">Human Resources</option>
        </select>
      </div>
      <div class="field half">
        <input type="radio" id="demo-priority-low" name="demo-priority" checked>
        <label for="demo-priority-low">Low</label>
      </div>
      <div class="field half">
        <input type="radio" id="demo-priority-high" name="demo-priority">
        <label for="demo-priority-high">High</label>
      </div>
      <div class="field half">
        <input type="checkbox" id="demo-copy" name="demo-copy">
        <label for="demo-copy">Email me a copy</label>
      </div>
      <div class="field half">
        <input type="checkbox" id="demo-human" name="demo-human" checked>
        <label for="demo-human">Not a robot</label>
      </div>
      <div class="field">
        <label for="demo-message">Message</label>
        <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
      </div>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Send Message" class="primary" /></li>
      <li><input type="reset" value="Reset" /></li>
    </ul>
  </form>

</section> -->
