<div class="hero">
  <div class="banner">
    <h2 class="h3">Hello, I'm Travis</h2>
    <h3 class="h4">&hellip; and I enjoy making things for the web.</h3>
    <p>I currently oversee a team of very talented UX designers for Arrow Electronics. I’m also in the midst of
      building
      a new site &hellip; obviously, right? Drop me a line if you’d like to see some of my work.<br>You can reach me on
      <a href="https://www.linkedin.com/in/travhall/">LinkedIn</a> or at <a href="mailto:hello@iamtravishall.com">hello@iamtravishall.com</a>.</p>
  </div>
  <div class="hero__bg"></div>
</div>

<!-- <div>

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec sed odio
    dui. Sed posuere consectetur est at lobortis.</p>

  <hr>

  <h1 class="h6">Heading 1</h1>
  <h2 class="h5">Heading 2</h2>
  <h3 class="h4">Heading 3</h3>
  <h4 class="h3">Heading 4</h4>
  <h5 class="h2">Heading 5</h5>
  <h6 class="h1">Heading 6</h6>

  <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec sed odio
    dui. Sed posuere consectetur est at lobortis.</p>

</div> -->
