<div class="grid -main">
  <app-header></app-header>
  <div class="hero">
    <h2>Hello, I'm Travis</h2>
    <h3>&hellip; and I enjoy making things for the web.</h3>
    <p>I currently oversee a team of very talented UX designers for Arrow Electronics. I’m also in the midst of
      building
      a new site &hellip; obviously, right? Drop me a line if you’d like to see some of my work.<br>You can reach me on
      <a href="https://www.linkedin.com/in/travhall/">LinkedIn</a> or at <a href="mailto:hello@iamtravishall.com">hello@iamtravishall.com</a>.</p>
  </div>
  <app-main></app-main>
  <app-footer></app-footer>
</div>
