// BUTTON MIXIN
$Placeholder-Selectors: ();

@mixin button($color, $extend: true) {
  @include button-static($extend);
  background: $color;
  border-color: $color;
  color: $white;

  &:hover {
    background: shade($color, 35%);
    border-color: shade($color, 20%);
    color: shade($white, 15%);
  }

  &:active,
  &:focus {
    background: shade($color, 40%);
    border-color: shade($color, 40%);
    outline: none;
    box-shadow: 0 0 0 3px rgba($color, 0.25), 0 0 0 1.5px rgba($color, 0.25);
  }
}

@mixin button-static($extend: true) {
  $button-selector: map-get($Placeholder-Selectors, 'button');

  @if $extend==true {
    @if $button-selector==null {
      $button-selector: unique-id();
      $Placeholder-Selectors: map-merge($Placeholder-Selectors,
        ('button': $button-selector)) !global;

      @at-root %#{$button-selector} {
        @include button-static(false);
      }
    }

    @extend %#{$button-selector};
  }

  @else {
    appearance: none;
    border: 1px solid transparent;
    // border-radius: 1px;
    border-radius: $spacer*2.5;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.25;
    margin: 0 ($spacer*.25) ($spacer*.25) 0;
    padding: ($spacer*.625) $spacer;
    text-align: center;
    text-decoration: none;
    transition: background 250ms ease-in-out, transform 150ms ease, color 500ms ease;
    vertical-align: text-bottom;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      transform: scale(1.025);
    }

    &:active,
    &:focus {
      transform: scale(0.98);
    }
  }
}

@mixin chevron($color: '#000000', $rotation: 0, $thickness: 10) {
  background-image:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path style="fill:'+$color+';" d="M0 50l50,50 50,-50 -'+$thickness+', -'+$thickness+' -'+(50-$thickness)+','+(50-$thickness)+' -'+(50-$thickness)+',-'+(50-$thickness)+'z" transform="rotate('+$rotation+' 50 50 )"/></svg>');
}

button,
input[type=button],
.btn {
  @include button($primary);

  &.-dk {
    @include button($primary-dk);
  }

  &.-lt {
    @include button($primary-lt);
  }

  &.-white {
    @include button($white);
    color: $black;

    &:hover {
      background: transparent;
      color: $white;
    }
  }

  &.-gold {
    @include button($gold);
  }

  &.-goldenrod {
    @include button($goldenrod);
  }

  &.-cream {
    @include button($cream);
    color: $black;

    &:hover {
      color: $black;
    }
  }

  &.-bronze {
    @include button($bronze);
  }

  &.-success {
    @include button($success);
  }

  &.-caution {
    @include button($caution);
    color: $black;

    &:hover {
      color: $black;
    }
  }

  &.-danger {
    @include button($danger);
  }

  &.-block {
    display: block;
    width: 100%;
    margin: ($spacer*.25) auto;
    max-width: 20rem;

    @include breakpoint('medium') {
      display: inline-block;
      margin: 0 ($spacer*.25) ($spacer*.25) 0;
      width: auto;
    }

    &:hover {
      transform: scaleY(1.05);
    }

    &:active,
    &:focus {
      transform: scaleY(0.95);
    }
  }

  &.-sm {
    font-size: .5rem;
  }

  &.-lg {
    font-size: 1rem;
  }

  &.-ghost {
    background: none;
    border-color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $white;
      color: $black;
    }

    +p {
      margin-top: $spacer;
    }
  }

  &.-borderless {
    border: 1px solid transparent;
  }

  &.-disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

.tag {
  background: $gold;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: .5625rem;
  font-weight: 400;
  margin: 0 ($spacer*.25) ($spacer*.25) 0;
  padding: ($spacer*.25) ($spacer*.5);
  text-transform: uppercase;
  vertical-align: bottom;

  button &,
  input[type=button] &,
  .btn & {
    margin: 0;
  }

  &.-dk {
    background: $primary-dk;
  }

  &.-lt {
    background: $primary-lt;
  }

  &.-white {
    background: $white;
  }

  &.-gold {
    background: $gold;
  }

  &.-goldenrod {
    background: $goldenrod;
  }

  &.-cream {
    background: $cream;
    color: $black;
  }

  &.-bronze {
    background: $bronze;
  }

  &.-success {
    background: $success;
  }

  &.-caution {
    background: $caution;
    color: $black;
  }

  &.-danger {
    background: $danger;
  }

  &:hover {
    cursor: default;
  }
}

// a.card:hover {
//   transform: scale(1.1);
// }