button,
input[type=button],
.btn {
  @include button($primary);

  // .icon {
  //   margin: 0 ($spacer*.125) ($spacer*.125);
  //   vertical-align: middle;
  // }

  &.-dk {
    @include button($primary-dk);
  }

  &.-lt {
    @include button($primary-lt);
  }

  &.-white {
    @include button($white);
    color: $black;

    &:hover {
      background: transparent;
      color: $white;
    }
  }

  &.-gold {
    @include button($gold);
  }

  &.-goldenrod {
    @include button($goldenrod);
  }

  &.-cream {
    @include button($cream);
    color: $black;

    &:hover {
      color: $black;
    }
  }

  &.-bronze {
    @include button($bronze);
  }

  &.-success {
    @include button($success);
  }

  &.-caution {
    @include button($caution);
    color: $black;

    &:hover {
      color: $black;
    }
  }

  &.-danger {
    @include button($danger);
  }

  &.-block {
    width: 100%;

    @include breakpoint('medium') {
      width: auto;
    }

    &:hover {
      transform: scaleY(1.05);
    }

    &:active,
    &:focus {
      transform: scaleY(0.95);
    }
  }

  &.-sm {
    font-size: .5rem;
  }

  &.-lg {
    font-size: 1rem;
  }

  &.-ghost {
    background: none;
    border-color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $white;
      color: $black;
    }
  }

  >.icon {
    margin: 0 -5px 0 5px;
  }
}

.tag {
  background: $gold;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: .5625rem;
  font-weight: 400;
  margin: 0 $spacer/4 $spacer/4 0;
  padding: $spacer/4 $spacer/2 $spacer/6;
  text-transform: uppercase;
  vertical-align: bottom;

  button &,
  input[type=button] &,
  .btn & {
    margin: 0;
  }

  &.-dk {
    background: $primary-dk;
  }

  &.-lt {
    background: $primary-lt;
  }

  &.-white {
    background: $white;
  }

  &.-gold {
    background: $gold;
  }

  &.-goldenrod {
    background: $goldenrod;
  }

  &.-cream {
    background: $cream;
    color: $black;
  }

  &.-bronze {
    background: $bronze;
  }

  &.-success {
    background: $success;
  }

  &.-caution {
    background: $caution;
    color: $black;
  }

  &.-danger {
    background: $danger;
  }

  &:hover {
    cursor: default;
  }
}
