button,
input[type=button],
.btn {
  @include button($primary);

  // .icon {
  //   vertical-align: middle;
  // }

  &.-dk {
    @include button($primary-dk);
  }

  &.-lt {
    @include button($primary-lt);
  }

  &.-gold {
    @include button($gold);
  }

  &.-goldenrod {
    @include button($goldenrod);
  }

  &.-cream {
    @include button($cream);
    color: $black;
  }

  &.-bronze {
    @include button($bronze);
  }

  &.-success {
    @include button($success);
  }

  &.-caution {
    @include button($caution);
    color: $black;
  }

  &.-danger {
    @include button($danger);
  }

  &.-block {
    width: 100%;

    // @include breakpoint('medium') {
    //   width: auto;
    // }

    &:hover {
      transform: scaleY(1.05);
    }

    &:active,
    &:focus {
      transform: scaleY(0.95);
    }
  }

  &.-sm {
    font-size: .5rem;
  }

  &.-lg {
    font-size: 1rem;
  }

  &.-ghost {
    background: none;
    border-color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $white;
      color: $black;
    }
  }
}

.tag {
  background: $gold;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: .75rem;
  font-weight: 400;
  margin: 0 $spacer/4 $spacer/4 0;
  padding: $spacer/4 $spacer/2;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    color: $white;
    cursor: none;
  }
}
