.logo {
  display: block;
  position: relative;
  z-index: map-get($z-index, logo);

  .header & {
    position: absolute;
    left: calc(50% - 50px);
    top: $spacer/2;

    @include break-md {
      left: $spacer/2;
    }
  }

  .footer & {
    bottom: 0;
    left: 0;
    position: absolute;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: $spacer * 6 auto $spacer * 6;
  position: relative;

  &::before {
    background-color: $black;
    content: '';
    display: block;
    height: $spacer*8;
    position: absolute;
    bottom: -$spacer*4;
    left: 0;
    right: 0;
    transform: skewY(-4deg);
    transform-origin: center center;
    z-index: -2;
  }

  &::after {
    background-attachment: fixed;
    background-color: $primary-dk;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../src/assets/img/bg-hero.jpg);
    // background-image: linear-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0.8)),linear-gradient(#168683, #367067);
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -4;

    @include break-lg {
      background-size: 100% auto;
    }
  }

  .banner {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;

    @include break-lg {
      grid-column-start: 3;
      grid-column-end: 9;
    }

    @include break-whoa {
      grid-column-start: 4;
      grid-column-end: 8;
    }
  }
}

.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
