.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 6.25rem;
  position: relative;
  z-index: map-get($z-index, logo);

  &:hover {
    fill: $primary;
  }

  @include break-md {
    position: absolute;
    top: $spacer;
    left: $spacer;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5rem auto 1fr;
  position: relative;

  &__bg {
    position: absolute;
    top: -1rem;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 160%;
    // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url(../src/assets/img/bg-hero.png);
    background-image: linear-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, .8)), linear-gradient(#168683, #367067);
    background-size: cover;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1;
  }

  .banner {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
