.logo {
  display: block;
  margin: 0 auto;
  width: 95%;
  max-width: 8rem;
  position: relative;
  transition: all .5s ease-in-out;
  z-index: map-get($z-index, logo);

  &:hover {
    fill: $primary;
  }
}

.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
