h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  line-height: 1.333;
  margin: 0;
}

h1 {
  font-size: 5.625em; // 90px
}

h2 {
  font-size: 4.1875em; // 67px
}

h3 {
  font-size: 3.125em; // 50px
}

h4 {
  font-size: 2.375em; // 38px
}

h5 {
  font-size: 1.8125em; // 29px
}

h6 {
  font-size: 1.375em; // 22px
}

p {
  font-size: 1em;
  line-height: 1.333;
}

a {
  &:hover {}
}

strong,
b,
.bold {
  font-weight: 700;
}
