.display {
  &-1 {
    font-size: 3.325rem; // 52px

    @include breakpoint("medium") {
      font-size: 4.375rem; // 70px
    }

    @include breakpoint("large") {
      font-size: 5.875rem; // 94px
    }
  }

  &-2 {
    font-size: 2.4375rem; // 39px

    @include breakpoint("medium") {
      font-size: 3.25rem; // 52px
    }

    @include breakpoint("large") {
      font-size: 4.375rem; // 70px
    }
  }

  &-3 {
    font-size: 1.875rem; // 30px

    @include breakpoint("medium") {
      font-size: 2.5rem; // 40px
    }

    @include breakpoint("large") {
      font-size: 3.25rem; // 52px
    }
  }
}

[class^="display-"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: $spacer;

  &::after {
    background-color: $gold;
    content: '';
    display: block;
    height: 2px;
    width: $spacer;
    margin: $spacer 0 $spacer*.333;

    .-center & {
      margin: $spacer*.333 auto;
    }

    .-right & {
      margin-left: auto;
    }
  }

  &.-center::after {
    margin: $spacer*.333 auto;
  }

  &.-right::after {
    margin-left: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 $spacer;
}

h1,
.h1 {
  font-size: 3.875rem; // 62px

  @include breakpoint("medium") {
    font-size: 4.1875rem; // 67px
  }

  @include breakpoint("large") {
    font-size: 5.625rem; // 90px
  }
}

h2,
.h2 {
  font-size: 2.875rem; // 46px

  @include breakpoint("medium") {
    font-size: 3.125rem; // 50px
  }

  @include breakpoint("large") {
    font-size: 4.1875rem; // 67px
  }
}

h3,
.h3 {
  font-size: 2rem; // 32px

  @include breakpoint("medium") {
    font-size: 2.375rem; // 38px
  }

  @include breakpoint("large") {
    font-size: 3.125rem; // 50px
  }
}

h4,
.h4 {
  font-size: 1.5rem; // 24px

  @include breakpoint("medium") {
    font-size: 1.875rem; // 28px
  }

  @include breakpoint("large") {
    font-size: 2.375rem; // 38px
  }
}

h5,
.h5 {
  font-size: 1.125rem; // 16px

  @include breakpoint("medium") {
    font-size: 1.375rem; // 22px
  }

  @include breakpoint("large") {
    font-size: 1.75rem; // 28px
  }
}

h6,
.h6 {
  font-size: 0.8125rem; // 13px

  @include breakpoint("medium") {
    font-size: 1.0625rem; // 17px
  }

  @include breakpoint("large") {
    font-size: 1.375rem; // 22px
  }
}

.lead {
  font-size: 1.375rem; // 22px
  font-weight: 900;
}

p {
  font-size: 1rem; // 16px
  font-weight: 100;
  line-height: 1.5;
  margin: 0 0 $spacer*.5;

  +p {
    text-indent: 1rem;
  }

  +button,
  +input[type=button],
  +.btn {
    margin-top: $spacer;
  }
}

a {
  color: $gold;
  position: relative;
  text-decoration: none;
  transition: all .25s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

blockquote {
  font-family: 'Zilla Slab', serif;
  font-size: 1.125rem;
  font-style: italic;
  margin: 0 $spacer;
  padding: $spacer*2 0 0 $spacer*2;
  position: relative;

  &::before {
    content: '\2026';
    color: $gold;
    font-size: 2rem;
    font-weight: bolder;
    left: $spacer*.333;
    position: absolute;
    bottom: -$spacer*.333;
  }
}

strong,
b,
.bold {
  font-weight: 700;
}

small {
  font-size: .75rem;
}

ul,
ol {
  margin: 0;
  padding: ($spacer*.5) ($spacer*1.5);
}

.-left {
  text-align: left;
}

.-center {
  text-align: center;
}

.-right {
  text-align: right;
}
