.footer {
  margin: 0;
  position: relative;
  width: 100%;
  text-align: right;
  z-index: map-get($z-index, footer);

  .logo {
    display: none;
    bottom: 0;
    left: 0;
    margin: 0 0 -5px;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    vertical-align: bottom;

    @include breakpoint('medium') {
      display: block;
    }
  }

  a,
  small {
    display: inline-block;
    font-size: 0.75rem;
    margin: $spacer*.5;
  }

  ul {
    list-style: none;
    @include breakpoint('medium') {
      padding: 0 $spacer;
    }
  }
  li {
    display: inline-block;
    &:nth-child(1),
    &:nth-child(2) {
      @include breakpoint('medium') {
        position: absolute;
        top: -($spacer*1.75);
        right: $spacer;
      }
    }
    &:nth-child(1) {
      @include breakpoint('medium') {
        right: ($spacer*3);
      }
    }
  }
}
