.footer {
  display: grid;
  grid-area: footer;
  position: relative;
  text-align: right;
  margin-top: $spacer;
  padding: $spacer $spacer $spacer 85px;
  z-index: map-get($z-index, footer);

  a,
  small {
    font-size: .75rem;
    margin-left: $spacer;
  }
}
