.footer {
  display: grid;
  grid-area: footer;
  position: relative;
  text-align: right;
  margin-top: $spacer;
  padding: $spacer;
  z-index: map-get($z-index, footer);

  a {
    font-size: .75rem;
    padding-right: $spacer;
  }

}
