header {
  position: relative;
}

.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: map-get($z-index, header);

  .logo {
    opacity: .8;
    height: 83px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: $spacer;
    transition: all 0.3s ease-in-out 0s;

    @include breakpoint("medium") {
      left: $spacer;
    }

    @include breakpoint("large") {
      left: $spacer*1.75;
      top: $spacer*1.75;
    }

    &:hover {
      opacity: 1;
      transform-style: preserve-3d;
      transform: perspective(10em) rotateX(-8deg) translateZ(2em);
    }
  }

  .links {
    position: absolute;
    top: $spacer;
    left: $spacer;

    @include breakpoint('medium') {
      top: $spacer*1.25;
      left: auto;
      right: $spacer*1.25;
    }

    @include breakpoint('large') {
      top: $spacer*2;
      left: auto;
      right: $spacer*2;
    }

    a {
      float: left;
      margin-right: $spacer*.25;

      @include breakpoint('medium') {
        margin-left: $spacer*.25;
      }
    }
  }
}
