header {
  position: relative;
}

.header {
  grid-area: header;
  width: 100%;
  z-index: map-get($z-index, header);

  .logo {
    height: 83px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: $spacer;
    transition: all 0.3s ease-in-out;

    @include breakpoint("medium") {
      left: $spacer;
    }

    @include breakpoint("large") {
      left: $spacer*1.75;
      top: $spacer*1.75;
    }

    &:hover {
      transform-style: preserve-3d;
      transform: perspective(10em) rotateX(-8deg) translateZ(2em);
    }
  }

  .links {
    position: absolute;
    top: $spacer;
    left: $spacer;

    @include breakpoint('medium') {
      top: $spacer*1.25;
      left: auto;
      right: $spacer*.5;
    }

    @include breakpoint('large') {
      top: $spacer*1.75;
      right: $spacer;

      .email::before {
        content: 'hello@iamtravishall.com';
        font-size: .825rem;
        font-weight: bolder;
        padding: 0 .45rem 0 .25rem;
      }
    }

    // a {
    //   float: left;
    //   margin-right: $spacer*.25;

    //   @include breakpoint('medium') {
    //     margin-left: $spacer*.25;
    //   }
    // }
  }
}
