header {
  position: relative;
}

.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: map-get($z-index, header);

  .logo {
    // opacity: .2;
    height: 83px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: $spacer;
    transition: all 0.3s ease-in-out 0s;

    @include breakpoint("medium") {
      left: $spacer*.5;
    }

    &:hover {
      opacity: 1;
      transform-style: preserve-3d;
      transform: perspective(10em) rotateX(-8deg) translateZ(2em);
    }
  }

  .links {
    position: absolute;
    top: $spacer;
    right: $spacer;

    a {
      float: left;
      margin-left: $spacer*.25;
    }
  }
}
