// HERO
.hero {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: ($spacer*6) auto ($spacer*6);
  grid-template-areas:
    ". . ."
    ". hero__content ."
    ". . .";
  margin: $spacer*.5;
  padding: 0;
  position: relative;

  @include breakpoint("small") {
    grid-template-columns: 1fr 74% 1fr;
  }

  @include breakpoint("medium") {
    grid-template-columns: 120px 68% 2fr;
  }

  @include breakpoint("large") {
    grid-template-columns: 2fr 62% 3fr;
  }

  @include breakpoint("xlarge") {
    grid-template-columns: 2fr 54% 3fr;
  }

  &__content {
    grid-area: hero__content;
    position: relative;
    z-index: map-get($z-index, main);
  }

  &::before {
    background-color: $black;
    content: '';
    display: block;
    height: $spacer * 8;
    position: absolute;
    bottom: -$spacer * 3.5;
    left: 0;
    right: 0;
    transform: skewY(-3.5deg);
    transform-origin: center center;
  }

  &::after {
    background-attachment: fixed;
    background-image: linear-gradient(125deg, shade($primary-lt, 60), $primary);
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
