.main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: map-get($z-index, main);
}
section {
  margin: 0;
  padding: 0 $spacer;
  position: relative;
  z-index: map-get($z-index, main);
  @include breakpoint('medium') {
    padding: $spacer*2;
  }
}