.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: map-get($z-index, mobilenav);

  &__menu {
    background: $black;
    padding: $spacer;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    right: 0;
    left: 0;
    transition: all .35s ease-in-out;

    @include breakpoint('medium') {
      background: none;
      position: absolute;
      top: $spacer;
      right: 0;
      bottom: auto;
      left: auto;
      height: auto;
      width: auto;
    }

    @include breakpoint('large') {
      top: $spacer*2;
      right: $spacer;
    }

    &.open {
      position: fixed;
      top: 0;

      @include breakpoint('medium') {
        position: absolute;
        top: $spacer*2;
      }
    }
  }

  &__item {
    color: $white;
    display: block;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 0 $spacer;
    padding: $spacer 0;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s ease-in-out;

    &:after {
      background: $white;
      bottom: 0;
      content: '';
      color: transparent;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      width: 0;
      height: 1px;
      transition: all .2s ease-in-out;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

    @include breakpoint('medium') {
      display: inline;
      font-size: .8rem;
    }

    @include breakpoint('large') {
      font-size: 1rem;
    }
  }

  &__toggle {
    background: transparent;
    cursor: pointer;
    width: $spacer;
    height: $spacer;
    position: absolute;
    top: $spacer*1.5;
    right: $spacer*1.5;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    z-index: 5000000;

    &:focus,
    &:hover {
      box-shadow: $primary;
      outline: $primary;
    }

    @include breakpoint('medium') {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 50%;
      background: $white;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
      }

      &:nth-child(odd) {
        left: 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 7px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 14px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: $spacer*.25;
          left: 0;
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
          left: calc(50% - 2px);
          top: $spacer*.25;
        }

        &:nth-child(3) {
          left: 50%;
          width: 0;
          opacity: 0;
        }

        &:nth-child(4) {
          right: 50%;
          width: 0;
          opacity: 0;
        }

        &:nth-child(5) {
          transform: rotate(-45deg);
          top: $spacer*.625;
          left: 0;
        }

        &:nth-child(6) {
          transform: rotate(45deg);
          left: calc(50% - 2px);
          top: $spacer*.625;
        }
      }
    }
  }
}

.backToTop {
  color: $white;
  opacity: 0;
  position: fixed;
  right: -$spacer*3;
  bottom: $spacer*3;
  transition: all .5s ease-in-out;
  z-index: map-get($z-index, mobilenav);

  &.active {
    @include breakpoint('medium') {
      opacity: .6;
      right: $spacer*1.25;
    }
  }

  &:hover {
    opacity: 1;
    transform: perspective(10em) rotateX(-8deg) translateZ(2em);
  }
}
