<div class="collection">

  <section class="hero" id="hero">
    <div class="hero__content">
      <h2 class="display-2">Selected Projects</h2>
    </div>
  </section>

  <section class="card__container">
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Crushing Checkout Conversion</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Best-in-class Product Detail Page</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Down with Design Debt</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Making Sense of a Mess</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Take it from the top again</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Scalable, modular typography</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Past development projects</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Past design projects</h3>
        <small>Subtitle</small>
      </div>
    </a>
  </section>

</div>
