<div class="collection">
  <section class="hero" id="hero">
    <div class="hero__content">
      <h2 class="display-2">Selected Projects</h2>
    </div>
  </section>

  <section class="card__container">
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Crushing Checkout Conversion</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Best-in-class Product Detail Page</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Down with Design Debt</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Making Sense of a Mess</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Take it from the top again</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Scalable, modular typography</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>Front End Development</small>
        <h3 class="title">Past development projects</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
    <a
      href=""
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <div class="card__content">
        <small>Graphic &amp; Visual Design</small>
        <h3 class="title">Past design projects</h3>
        <!-- <span class="tag">Tag</span>
        <span class="tag">Tag</span>
        <span class="tag">Tag</span> -->
      </div>
    </a>
  </section>
</div>
