<div class="collection" id="collection">
  
  <section class="hero" id="hero">
    <div class="hero__content">
      <h2 class="display-2">Selected Projects</h2>
    </div>
  </section>

  <section class="card__container">
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="300"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="300"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="300"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>Front End Development</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      class="card"
      title="Project Title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="300"
    >
      <div class="card__content">
        <small>Graphic &amp; Visual Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
  </section>

</div>
