html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $black;
  color: $white;
  font-family: -apple-system, Helvetica, Arial, sans-serif, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  height: 100%;
  line-height: 1.333;
  margin: 0;
  padding: 0;
}

hr {
  clear: both;
  display: block;
  margin: $spacer*2 auto;
}

::selection {
  background: $white-shade;
  color: $black;
  text-shadow: none;
}

::-moz-selection {
  background: $white-shade;
  color: $black;
  text-shadow: none;
}

::-webkit-selection {
  background: $white-shade;
  color: $black;
  text-shadow: none;
}
