.grid {
  display: grid;
  padding: 0;
  margin: 0;

  &.-primary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
    grid-column-gap: $spacer/2;
    position: relative;

    // @include break-md {
    //   grid-template-columns: repeat(6, 1fr);
    //   grid-template-areas:
    //     "header header header header header header"
    //     "main main main main main main"
    //     "footer footer footer footer footer footer";
    //   grid-column-gap: $spacer;
    // }
  }
}

section {
  padding: $spacer/2;

  @include break-md {
    padding: $spacer;
  }
}
