.grid {
  display: grid;
  padding: 0;
  margin: 0;

  &.-primary {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
    grid-column-gap: $spacer;
    position: relative;
  }
}

section {
  padding: $spacer;
  z-index: map-get($z-index, main);
}
