// MEDIA QUERIES
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/// TINT : Slightly lighten a color * color: tint(#BADA55, 42%);
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// SHADE : Slightly darken a color * shade: tint(#BADA55, 42%);
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// SCROLLBAR
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, $black, 5%)) {

  // Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // IE
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
