// COLORS
$primary: #168683;
$primary-lt: #56BFAF;
$primary-dk: #367067;
$cream: #FBFAF0;
$bronze: #999779;
$gold: #D4AF37;
$goldenrod: #FFDF00;

$success: #09D42E;
$caution: #EFE705;
$danger: #C84242;

$white: #FFF;
$white-shade: #FEFEFE;
$black: #111;
$black-tint: #4A4A4A;
$grey: #9B9B9B;
$grey-lt: #EEE;
$grey-dk: #7B7B7B;

// BREAKPOINTS
$screen-xs: 26.25rem; // 420px - Tiny phones
$screen-sm: 36rem; // 576px - Small tablets and large smartphones (landscape view)
$screen-md: 48rem; // 768px - Small tablets (portrait view)
$screen-lg: 62rem; // 992px - Tablets and small desktops
$screen-xl: 75rem; // 1200px - Large tablets and desktops

// Z-INDEX
$z-index: (modal: 500,
overlay: 450,
logo: 400,
nav: 350,
header: 300,
footer: 250,
main: 200,
);

// SPACER - 18px column gap and vertical spacing
$spacer: 1.125rem;
