// COLORS
$primary: #168683;
$primary-lt: #56bfaf;
$primary-dk: #367067;
$bronze: #999779;
$cream: #fbfaf0;
$gold: #d4af37;
$goldenrod: #ffdf00;

$success: #09d42e;
$caution: #efe705;
$danger: #c84242;

$white: #fff;
$white-shade: #fefefe;
$black: #111;
$black-tint: #4a4a4a;
$grey: #9b9b9b;
$grey-lt: #eee;
$grey-dk: #7b7b7b;

$breakpoints: ( // BREAKPOINTS : @include breakpoint("medium") {…}
'xsmall': (min-width: 25rem), // 400px - Tiny phones
'small': (min-width: 35rem), // 576px - Small tablets and large smartphones (landscape view)
'medium': (min-width: 48rem), // 768px - Small tablets (portrait view)
'large': (min-width: 62rem), // 992px - Tablets and small desktops
'xlarge': (min-width: 75rem), // 1200px - Large tablets and desktops
'whoa': (min-width: 100rem) // 1600px - Whoa dude that's a pretty big screen
) !default;

$z-index: (
  // Z-INDEX : z-index: map-get($z-index, modal);
    modal: 500,
  overlay: 450,
  logo: 400,
  nav: 350,
  header: 300,
  footer: 250,
  main: 200,
  background: 0
) !default;

// SPACER : 18px column gap and vertical spacing
$spacer: 1.125rem;
