// COLORS
$primary: #168683;
$primary-lt: #56bfaf;
$primary-dk: #367067;
$cream: #fbfaf0;
$bronze: #999779;
$gold: #d4af37;
$goldenrod: #ffdf00;

$success: #09d42e;
$caution: #efe705;
$danger: #c84242;

$white: #fff;
$white-shade: #fefefe;
$black: #111;
$black-tint: #4a4a4a;
$grey: #9b9b9b;
$grey-lt: #eee;
$grey-dk: #7b7b7b;

// BREAKPOINTS
$screen-xs: 25rem; // 400px - Tiny phones
$screen-sm: 36rem; // 576px - Small tablets and large smartphones (landscape view)
$screen-md: 48rem; // 768px - Small tablets (portrait view)
$screen-lg: 62rem; // 992px - Tablets and small desktops
$screen-xl: 75rem; // 1200px - Large tablets and desktops
$screen-whoa: 100rem; // 1600px - Whoa dude

// Z-INDEX : @include z
$z-index: (modal: 500,
overlay: 450,
logo: 400,
nav: 350,
header: 300,
footer: 250,
main: 200,
background: -1);

// SPACER : 18px column gap and vertical spacing
$spacer: 1.125rem;
