<div class="resume">
  <section class="hero" id="hero">
    <div class="hero__content">
      <h2 class="display-1">Travis Hall</h2>
      <a
        href="mailto:hello@iamtravishall.com?subject=Hello Travis!"
        title="I'm always happy to talk shop!"
      >
      <svg class="icon">
        <use xlink:href="assets/symbol-defs.svg#icon-envelope"></use>
      </svg> &nbsp;hello@iamtravishall.com
      </a>
      <a class="btn -ghost -block" title="Download my resum&eacute;">
        Download PDF
        <svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-download"></use>
        </svg>
      </a>
    </div>
  </section>

  <section
    class="card__container"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
    
  >
    <div class="card"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="card__content">
        <h4 class="title">Skills</h4>
        <ul>
          <li>User Experience Design</li>
          <li>UI Development</li>
          <li>Design Systems</li>
          <li>User Research &amp; Usability Testing</li>
          <li>Information Architecture</li>
          <li>Wireframing &amp; Prototyping</li>
          <li>Agile Development Methodology</li>
        </ul>
      </div>
    </div>

    <div class="card"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <div class="card__content">
        <h4 class="title">Tools</h4>
        <ul>
          <li>Sketch, Zeplin</li>
          <li>Adobe After Effects</li>
          <li>Adobe Creative Suite</li>
          <li>Adobe XD</li>
          <li>Invision Studio</li>
          <li>VS Code, Sublime Text</li>
          <li>Atlassian Suite</li>
          <li>Pen, Paper &amp; Post-it's</li>
        </ul>
      </div>
    </div>

    <div class="card"
      data-aos="fade-up"
      data-aos-delay="450"
    >
      <div class="card__content">
        <h4 class="title">Technologies</h4>
        <ul>
          <li>HTML5</li>
          <li>CSS, SASS</li>
          <li>Javascript, jQuery</li>
          <li>Bootstrap, Foundation</li>
          <li>Angular <span>(Novice)</span></li>
          <li>GitHub</li>
          <li>Wordpress</li>
          <li>Shopify</li>
        </ul>
      </div>
    </div>
  </section>

  <section
    class="panel"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <div class="panel__content">
      <h3 class="display-3">UX Design Lead</h3>
      <h4>Arrow Electronics, Inc. <span>2016 - present</span></h4>
      <p>
        Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla
        non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem
        lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.
        Maecenas faucibus mollis interdum.
      </p>
    </div>
  </section>

  <section
    class="panel"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <div class="panel__content">
      <h3 class="display-3">Front End Developer</h3>
      <h4>ideapark <span>2012 - 2015</span></h4>
      <p>
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras
        mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac
        consectetur ac, vestibulum at eros. Integer posuere erat a ante
        venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla
        sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </div>
  </section>

  <section
    class="panel"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <div class="panel__content">
      <h3 class="display-3">Front End Developer</h3>
      <h4>The Lacek Group <span>2010 - 2012</span></h4>
      <p>
        Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur
        purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem
        lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
        amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Sed posuere consectetur est at lobortis.
      </p>
    </div>
  </section>

  <section
    class="panel"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <div class="panel__content">
      <h3 class="display-3">Visiting Artist / Faculty</h3>
      <h4>Minneapolis College of Art &amp; Design <span>2008 - 2010</span></h4>
      <p>
        Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur
        purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem
        lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
        amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Sed posuere consectetur est at lobortis.
      </p>
    </div>
  </section>

  <section
    class="panel"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <div class="panel__content">
      <h3 class="display-3">Freelance Designer &amp; Developer</h3>
      <h4>iamtravishall <span>2005 - present</span></h4>
      <p>
        Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur
        purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem
        lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
        amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Sed posuere consectetur est at lobortis.
      </p>
    </div>
  </section>

  <section
    class="panel"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
  >
    <div class="panel__content">
      <h3 class="display-3">Education</h3>
      <ul>
        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
          <h4>Master of Fine Arts <span>Interactive Media</span></h4>
          <h5>Minneapolis College of Art &amp; Design</h5>
          <small>Visual Studies concentration in Interaction Design</small>
          <small>Teaching Assistant for Foundation Media Coursework</small>
        </li>
        <li data-aos="fade-up" data-aos-anchor-placement="center-bottom">
          <h4>Bachelor of Fine Arts <span>Multimedia Design</span></h4>
          <h5>University of Wisconsin Stout</h5>
        </li>
      </ul>
    </div>
  </section>
</div>
