<div class="home">
  <section
    class="hero"
    id="hero"
    data-aos="fade-up"
    data-aos-duration="450"
    data-aos-anchor-placement="top-center"
  >
    <div
      class="hero__content"
      data-aos="fade-in"
      data-aos-delay="50"
      data-aos-anchor-placement="top-center"
      data-aos-once="true"
    >
      <h2>Hello, I'm Travis</h2>
      <h3 class="h4">&hellip; and I enjoy making things for the web.</h3>
      <p>
        In other words,
        <em
          >I specialize in crafting digital experiences that transform
          challenges into opportunities</em
        >. But I'm guessing you're not here to read a bunch of industry jargon,
        now are you?
      </p>
      <a
        [scrollTo]="'#featured-work'"
        [scrollDuration]="500"
        class="btn -ghost"
        title="Check out some recent work"
      >
        Featured work
        <svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="card__container" id="featured-work">
    <a
      href="#"
      class="card"
      title="Jane Rae Interiors"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>UX Design &amp; Wordpress Development</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      href="#"
      class="card"
      title="Gigi Singh Identity &amp; Branding"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>Art Direction &amp; Graphic Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
    <a
      href="#"
      class="card"
      title="Crushing Cart Conversion"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-delay="150"
    >
      <div class="card__content">
        <small>User Experience Design</small>
        <h3 class="title">Project card title</h3>
      </div>
    </a>
  </section>

  <!-- <section class="outro panel">
    <div class="panel__content">
      <h4 class="display-4">Thanks for stopping by</h4>
    </div>
  </section> -->
</div>
