<div class="home">

  <section class="hero" id="hero" data-aos="fade-up" data-aos-duration="450" data-aos-anchor-placement="top-center" data-aos-once="true">
    <div class="hero__content" data-aos="fade-in" data-aos-delay="50" data-aos-anchor-placement="top-center" data-aos-once="true">
      <h2>Hello, I'm Travis</h2>
      <h3 class="h4">&hellip; and I enjoy making things for the web.</h3>
      <p>
        In other words, <em>I specialize in crafting digital experiences that transform challenges into
          opportunities</em>. But I'm guessing you're not here to read a bunch of industry jargon, now are you?</p>
      <a [scrollTo]="'#featured-work'" [scrollDuration]="500" class="btn -ghost" title="Check out some of my work">
        Featured work <svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="card__container" id="featured-work">
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Crushing Checkout Conversion</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Best-in-class Product Detail Page</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Down with Design Debt</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Making Sense of a Mess</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Take it from the top again</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Scalable, modular typography</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card">
      <div class="card__content">
        <h3 class="title">Past development projects</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card span-2">
      <div class="card__content">
        <h3 class="title">Past design projects</h3>
        <small>Subtitle</small>
      </div>
    </a>
  </section>
  
  <!-- <section class="panel__container" id="projects">
    <div class="panel -arrow" id="cs-arrow">
      <div class="panel__content">
        <h4 class="h6">User Experience Design</h4>
        <h4 class="display-1">Arrow Electronics</h4>
        <h4>UX Design Lead</h4>
        <h6>2016 - present</h6>
        <button routerLink="/arrow" routerLinkActive="active" class="btn -white">
          Read More
        </button>
        <div class="pageNav">
          <a class="link-icon" [scrollTo]="'#expertise'" [scrollDuration]="500" title="Back to Expertise">Previous
            <svg class="icon -sm">
              <use xlink:href="assets/symbol-defs.svg#icon-chevron-outline-up"></use>
            </svg>
          </a>
          <a class="link-icon" [scrollTo]="'#cs-stuntpuppy'" [scrollDuration]="500" title="Next Case Study">Next
            <svg class="icon -sm">
              <use xlink:href="assets/symbol-defs.svg#icon-chevron-outline-down"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="panel -stuntpuppy" id="cs-stuntpuppy">
      <div class="panel__content">
        <h4 class="h6">Front End Developer</h4>
        <h4 class="display-1">Stunt Puppy</h4>
        <h4>Shopify Theme / Microsite</h4>
        <h6>2014 - 2018</h6>
        <button routerLink="/stuntpuppy" routerLinkActive="active" class="btn -white" disabled>
          Coming Soon
        </button>
        <div class="pageNav">
          <a class="link-icon" [scrollTo]="'#cs-arrow'" [scrollDuration]="500" title="Previous Case Study">Previous
            <svg class="icon -sm">
              <use xlink:href="assets/symbol-defs.svg#icon-chevron-outline-up"></use>
            </svg>
          </a>
          <a class="link-icon" [scrollTo]="'#cs-lacek'" [scrollDuration]="500" title="Next Case Study">Next
            <svg class="icon -sm">
              <use xlink:href="assets/symbol-defs.svg#icon-chevron-outline-down"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="panel -lacek" id="cs-lacek">
      <div class="panel__content">
        <h4 class="h6">Front End Developer</h4>
        <h4 class="display-1">The Lacek Group</h4>
        <h4>Agency Microsite</h4>
        <h6>2012 - 2014</h6>
        <button routerLink="/lacek" routerLinkActive="active" class="btn -white" disabled>
          Coming Soon
        </button>
        <div class="pageNav">
          <a class="link" [scrollTo]="'#cs-stuntpuppy'" [scrollDuration]="500" title="Previous Case Study">Previous
          </a>
          <a class="link" [scrollTo]="'#about'" [scrollDuration]="500" title="Say hi!">Get to know me
          </a>
        </div>
      </div>
    </div>
  </section> -->

</div>