<div class="home">

  <section class="hero" id="hero" data-aos="fade-up" data-aos-duration="450" data-aos-anchor-placement="top-center" data-aos-once="true">
    <div class="hero__content" data-aos="fade-in" data-aos-delay="50" data-aos-anchor-placement="top-center" data-aos-once="true">
      <h2>Hello, I'm Travis</h2>
      <h3 class="h4">&hellip; and I enjoy making things for the web.</h3>
      <p>
        In other words, <em>I specialize in crafting digital experiences that transform challenges into
          opportunities</em>. But I'm guessing you're not here to read a bunch of industry jargon, now are you?</p>
      <a [scrollTo]="'#featured-work'" [scrollDuration]="500" class="btn -ghost" title="Check out some of my work">
        Featured work <svg class="icon -sm">
          <use xlink:href="assets/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </section>

  <section class="card__container" id="featured-work">
    <a href="" class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-once="true">
      <div class="card__content">
        <h3 class="title">Featured Project</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-once="true">
      <div class="card__content">
        <h3 class="title">Featured Project</h3>
        <small>Subtitle</small>
      </div>
    </a>
    <a href="" class="card" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-once="true">
      <div class="card__content">
        <h3 class="title">Featured Project</h3>
        <small>Subtitle</small>
      </div>
    </a>
  </section>
  
</div>